.text-inicio{
     color: #FFF;
    text-align: right;
    font-family: "Montserrat",sans-serif ;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    