<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="w-screen h-screen bg-slate-600">
  
  <nav>
    
  </nav>

  <div id="inicio">
    
  </div>

  <div id="bola">

  </div>

  <div id="carrossel">

  </div >

  <div id="jogo">

  </div>

  <div id="comentrarios">

    <div id="comentario" class="bg-white">

    </div>

  </div>

  <div id="pricipios" class="bg-[#12122A]">
      <p class="text-[#FCFCFC] text-2xl text-center text-center font-bold">PRINCÍPIOS<p>
      <div class="pl-36 pr-36">
        <div class="border border-[#9EEEFE] pl-9">
          <img src="../assets/missao.svg" alt="Ícone Missão" class="w-1/6 h-[195.5]">
          <p class="text-[#FCFCFC] text-xl">MISSÃO</p>
          <p class="text-[#FCFCFC]">
            Nossa missão é criar experiências de jogos excepcionais que inspirem os jogadores em todo o mundo. Buscamos a inovação e a excelência, 
            garantindo um entretenimento de alta qualidade e emocionantes desafios para os usuários, construindo, também, uma comunidade entre os usuários.
          </p>

        </div>

      </div>
  </div>

  <div id="statisticas">

  </div>

  <div id="newsladder">

  </div>

  <footer>

  </footer>

</body>
</html>
<router-outlet></router-outlet>
