/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Montserrat', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.borda {
    border-radius: 10px;
    border: 1px solid #9EEEFE;
    -webkit-box-shadow: 4px 4px 40px 0px rgba(158,238,254,1);
    -moz-box-shadow: 4px 4px 40px 0px rgba(158,238,254,1);
    box-shadow: 4px 4px 40px 0px rgba(158,238,254,1);
}